# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.env
*.envrc

# Virtual Environment
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
.directory
test_set/
training_set/
# Miscellaneous
*.swp
*.bak
*.egg-info/
dist/
build/
